<section class="bg-white dark:bg-white">
  <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-7">
          <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-black text-center font-dancing">EMANUEL  CRUZ</h1>
          <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400 text-justify ">International tattoo artist and founder of Paradise Tattoo Antigua and Black Ocean located in El Salvador. With more than 10 years of experience in the artistic world of tattooing. Born in El Salvador and Guatemalan based.</p>
          <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400 text-justify">I specialized in realism and sub realism. I also enjoy creating oriental tattoos. My work is characterized by taking detail to the maximum and working multiple sessions to guarantee a perfect and optimal finish in each piece so that you can carry a work of art for life.</p>
           <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400 text-justify">I describe myself as a talkative person, I enjoy a good talk during a session. I thank all my clients for trusting my work.</p>
         <a class="text-right text-white">.           </a>
         <div class="flex justify-center mt-8">
          <a href="/request" 
          class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center
           text-white border border-gray-800 rounded-lg hover:bg-gray-800 focus:ring-4
            focus:ring-800-100 dark:text-white dark:border-gray-650 dark:hover:bg-gray-650
             bg-gray-500">
            Request an Appointment
          </a> 
          </div>  
          
          
      </div>
      <div class=" lg:mt-0 lg:col-span-5 lg:flex">
        <img src="assets/img/fotomem.png" alt="mockup">
       
      </div>
                  
  </div>
</section>