<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      
      <div class="flex flex-wrap w-3/5">
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="assets/spain/3.JPEG"> 
        </div>
        
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="assets/spain/5.JPEG">
        </div>
        <div class="md:p-2 p-1 w-1/3">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="assets/spain/6.JPEG">
        </div>
        <div class="md:p-2 p-1 w-1/3">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="assets/spain/1.JPG">
          </div>
        <div class="md:p-2 p-1 w-1/3">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="assets/spain/7.JPEG">
        </div>
       
      </div>     
  
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Expo Spain</h1>
        <p class="mb-8 leading-relaxed">Photos from the exhibition held in Madrid, Spain are included.</p>
      </div>
  
    </div>
  </section>
  